@page "/Articulos/Ebitda"

<style>
    #page {
        background-color: #ccc;
    }
</style>

<article class="container texto-cajas p-top no-header text-justified">
  <h1 class="text-center dark-red">
      ¿CUÁNTO VALE MI EMPRESA? VALORACIÓN POR EL MÚLTIPLO DE EBITDA
  </h1>
  <p>
      Si está pensando en vender su empresa, sin duda se habrá preguntado cuanto puede valer. Un factor clave en una venta exitosa es saber cómo maximizar y justificar el precio que se pide. El método de valoración más utilizado por la banca de inversión, capital riesgo, auditores y bancos es el Múltiplo de Ebitda, que está basado en la premisa de que empresas del mismo sector tienen múltiplos similares porque operan en un entorno económico similar.
  </p>
  <p>
      El Ebitda (por sus siglas en inglés: el Beneficio antes de Impuestos, Intereses, Depreciaciones y Amortizaciones) se usa para valorar empresas ya que este valor excluye los gastos no-operativos, como son los gastos financieros, los impuestos y las amortizaciones/depreciaciones. El Ebitda nos permite comparar exclusivamente los beneficios operativos de empresas similares, con lo cual se pueden comparar los múltiplos de Ebitda que se pagan en la bolsa o han sido pagados por la compra de empresas similares.
  </p>
  <p>
      El Valor de Empresa es el resultado de aplicar el Múltiplo “correcto” al Ebitda “correcto”.
  </p>
    <h4 class="text-center">
        Valor Empresa = Ebitda x Múltiplo
    </h4>
  <p>
      Sin embargo, no se puede aplicar mecánicamente el múltiplo medio del Ebitda de las empresas similares adquiridas o cotizadas para llegar al Valor de Empresa. Entre empresas similares puede haber diferencias importantes en tasas de crecimiento, tamaño, concentración de clientes, equipo directivo, márgenes de rentabilidad, etc. Es, por lo tanto, esencial hacer ajustes al múltiplo teniendo en cuentas estas diferencias.
  </p>
  <p>
      Para determinar el Ebitda “correcto” también es necesario hacer ajustes para eliminar el efecto de eventos extraordinarios, así como ajustar ingresos o gastos que están por encima o debajo de su precio de mercado.
  </p>
  <p>
      El Valor de Empresa está compuesto de la suma del Valor de Mercado del Capital (lo que recibirían los accionistas a la venta de la empresa) más la Deuda Financiera Neta (bancos menos tesorería) de la empresa.
  </p>
    <h4 class="text-center">
        Valor de Empresa = Valor de Mercado del Capital + Deuda Financiera Neta
    </h4>
  <p>
      El Valor de Mercado del Capital se calcula restando la Deuda Financiera Neta del Valor de Empresa.
  </p>
    <h4 class="text-center">
        Valor de Mercado del Capital = Valor de Empresa – Deuda Financiera Neta
    </h4>
  <p>
      Por ejemplo, si la empresa tiene un Ebitda de €6 millones, y un comprador ofrece comprarle su empresa por un múltiplo de 5X, el Valor de Empresa sería € 30 millones (5x€6 millones = €30 millones). Si la empresa tiene Deuda Financiera Neta de €5 millones, entonces los accionistas percibirían €25 millones (€30 millones menos €5 millones = €25 millones) y el comprador asumiría la Deuda de €5 millones que tiene la empresa.
  </p>
  <p>
      En el primer semestre de 2020, el Índice Argos Soditic, de empresas medianas vendidas (con valor de entre €15 y €500 millones en la zona €uro) alcanzó un múltiplo medio de Ebitda de 9.3X.
  </p>
</article>
<p style="height:100px"></p>
