@page "/Articulos/calendario-de-actividad"

<style>
    #page {
        background-color: #ccc;
    }
</style>

<article class="container texto-cajas p-top no-header text-justified">
  <h1 class="text-center">CALENDARIO DEL PROCESO DE UNA COMPRAVENTA</h1>
  <h4>Mes 1</h4>
  <ul>
      <li>Identificar Asesor</li>
      <li>Desarrollar Estrategia de Venta</li>
  </ul>
  <h4>Mes 2</h4>
  <ul>
      <li>Preparación del Cuaderno de Venta</li>
      <li>Identificación de Compradores Potenciales</li>
      <li>Valoración</li>
  </ul>
  <h4>Mes 3</h4>
  <ul>
      <li>Enviar Perfil Ciego</li>
      <li>Enviar Acuerdo de Confidencialidad</li>
      <li>Enviar Cuaderno de Venta</li>
  </ul>
    <h4>Mes 4</h4>
    <ul>
        <li>Visitas de Compradores Potenciales</li>
        <li>Recepción de Ofertas no-vinculantes</li>   
    </ul>
  <h4>Mes 5</h4>
  <ul>
      <li>Negociaciones</li>
      <li>Ofertas Finales</li>
      <li>Selección del Comprador</li>
  </ul>
  <h4>Mes 6</h4>
  <ul>
      <li>Redactar Acuerdo de Intenciones</li>
      <li>Due Diligence</li>
  </ul>
  <h4>Mes 7</h4>
  <ul>
      <li>Due Diligence</li>
  </ul>
  <h4>Mes 8</h4>
  <ul>
      <li>Redacción y Negociación de Contratos</li>
  </ul>
  <h4>Mes 9</h4>
  <ul>
      <li>Cierre de la Operación</li>
  </ul>
</article>
<div style="height:100px"></div>
