@page "/Articulos/definiciones-financieras"
<style>
    #page {
        background-color: #ccc;
    }
</style>
<style>
    dt, dd {
        display: inline !important;
    }

    dt {
        color: #152238 !important;
    }
</style>

<article class="container texto-cajas p-top no-header text-justified">
  <h1 class="text-center">
      DEFINICIONES FINANCIERAS
  </h1>
  <dl>
      <p>
        <dt>Ampliación de Capital:</dt>
        <dd>
            Operación por la cual una empresa emite nuevas acciones con el fin de aumentar su capital social. En este caso la empresa, no los accionistas, es la receptora del dinero levantado. Típicamente esto permite que la empresa pueda emprender nuevas inversiones.
        </dd>
      </p>
      <p>
          <dt>BIMBO (Buy-In Management Buy-Out):</dt>
          <dd>Adquisición de una empresa por un conjunto de personas constituido en parte por el equipo directivo de esta empresa y en parte por personas ajenas, normalmente apoyados por un inversor financiero y apalancando la empresa para pagar parte del precio.</dd>
      </p>
      <p>
          <dt>Capital Riesgo:</dt>
          <dd>En su concepto global, consiste en la inversión en empresas no cotizadas, con el fin de reforzar sus fondos propios. El objetivo del inversor es implementar el plan estratégico definido por los directivos de la empresa, y rentabilizar a medio plazo (3-7 años) su inversión, saliendo finalmente del proyecto.</dd>
      </p>
      <p>
          <dt>Carta de Confidencialidad:</dt>
          <dd>Es un documento en la cual el comprador potencial se compromete a no revelar a terceras partes ninguna de la información recibida sobre la empresa que esta en venta.</dd>
      </p>
      <p>
          <dt>Carta de Intenciones/Memorándum de Acuerdo:</dt>
          <dd>Es un documento, que generalmente no tiene validez legal, en la cual se plasman las condiciones más importantes de la operación, como que es lo que se vende, que precio se paga, la forma de pago, la duración del período de exclusividad, las garantías ofrecidas, la fecha de cierre, etc.</dd>
      </p>
      <p>
          <dt>Cuaderno de Venta:</dt>
          <dd>Es un documento que describe las características de la empresa en venta para que el comprador potencial pueda determinar si es de su interés y calcular el precio que estaría dispuesto a pagar. El Cuaderno de Venta solo se manda a aquellos inversores que han demostrado interés, tienen los recursos necesarios para efectuar la compra y han firmado una Carta de Confidencialidad.</dd>
      </p>
      <p>
          <dt>Deuda Financiera Neta:</dt>
          <dd>Deuda financiera a corto y largo plazo menos tesorería</dd>
      </p>
      <p>
          <dt>Due Diligence:</dt>
          <dd>Análisis global y detallado de una empresa antes de una adquisición. El objetivo es comprobar toda la información recopilada durante el proceso de evaluación. Generalmente esta investigación se hace a nivel financiero, legal, comercial, mercado y de recursos humanos.</dd>
      </p>
      <p>
          <dt>Earn-Out:</dt>
          <dd>Formula de pago aplazado mediante la cual se efectúa la compra de la empresa pagando una parte del precio al cierre de la operación, y el resto en una fecha futura (típicamente en uno o dos años) basado en un múltiplo previamente acordado de los beneficios futuros. Esta fórmula solo se suele usar cuando las perspectivas futuras de la empresa son mucho más optimistas que las del reciente pasado.</dd>
      </p>
      <p>
          <dt>EBIT (Earnings Before Interest and Taxes):</dt>
          <dd>Son las siglas inglesas de BAII (beneficio antes de intereses e impuestos).</dd>
      </p>
      <p>
          <dt>EBITDA (Earnings Before Interest, Taxes, Depreciation and Amortization):</dt>
          <dd>Son las siglas inglesas de BAIIA (beneficio antes de intereses, impuestos y amortizaciones).</dd>
      </p>
      <p>
          <dt>Free Cash Flow (Flujo de Fondos Libres):</dt>
          <dd>Es el flujo de fondos generado por una empresa después de impuestos. Es el dinero que queda en la empresa después de haber cubierto las necesidades de inversión en activos fijos y en circulante, suponiendo que no exista deuda, y por tanto, no haya cargas financieras.</dd>
      </p>
      <p>
          <dt>Garantías:</dt>
          <dd>En el contrato de compraventa, aparte del precio, es una de las secciones más importantes a negociar. El comprador exige, mediante un aval o la retención de parte del precio, que se le garantice contingencias (fiscales, medioambientales, etc.) que puedan surgir en el futuro, pero cuyo origen data de una fecha anterior a la fecha de la compra de la empresa.</dd>
      </p>
      <p>
          <dt>LBO (Leveragde Buy-Out):</dt>
          <dd>Compra apalancada, lo que significa que la operación se financia tomando como garantía los activos de la propia compañía y los flujos de fondos que la empresa adquirida generará.</dd>
      </p>
      <p>
          <dt>Mandato de Compra/Venta:</dt>
          <dd>Contrato entre el asesor financiero y su cliente (los accionista o empresa compradora o vendedora) en la que se especifica el objetivo que se intenta conseguir, el proceso, la formula de remuneración, la vigencia y otras consideraciones legales.</dd>
      </p>
      <p>
          <dt>MBI (Management Buy-In):</dt>
          <dd>Adquisición de una compañía por parte de un equipo directivo ajeno a la misma, con el fin de convertirse en su equipo gestor, normalmente apoyado por un inversor financiero y apalancando la compañía para pagar parte del precio de la operación.</dd>
      </p>
      <p>
          <dt>MBO (Management Buy-Out):</dt>
          <dd>Adquisición de una compañía por su equipo directivo, normalmente apoyado por un inversor financiero y apalancando la compañía para pagar parte del precio de la operación.</dd>
      </p>
      <p>
          <dt>Newco (Nueva Sociedad):</dt>
          <dd>Sociedad de la que serán accionistas los miembros del equipo directivo y, típicamente una sociedad de capital riesgo. Se utiliza esta estructura para que la "Nueva Sociedad" (que actúa como el comprador) pueda desgravarse de los intereses generados por la deuda que se ha tomado para pagar parte del precio de compra.</dd>
      </p>
      <p>
          <dt>PER (Price Earnings Ratio):</dt>
          <dd>Relación entre el precio de mercado de la empresa y el beneficio después de impuestos. Indica cuanto paga el mercado a nivel del múltiplo del beneficio neto.</dd>
      </p>
      <p>
          <dt>Perfil Ciego</dt>
          <dd>La descripción anónima (típicamente de una página) de la empresa en venta.</dd>
      </p>
      <p>
          <dt>Plan de Negocio:</dt>
          <dd>Documento escrito que destaca los objetivos de una empresa en fase de creación o de desarrollo, recopilando todo la información (equipo gestor, actividad, mercado, plan financiero, etc...) requerida por un inversor.</dd>
      </p>
      <p>
          <dt>Retainer Fee:</dt>
          <dd>Comisión fija percibida por un asesor financiero al firmar el mandato, o durante el período del mandato. Sirve para cubrir una parte de los gastos iniciales (preparación del cuaderno de venta, el plan de negocio, valoración, identificación y contacto de compradores potenciales, etc.).</dd>
      </p>
      <p>
          <dt>Success Fee (Honorarios de Éxito):</dt>
          <dd>Comisión cobrada por el asesor financiero sólo en caso del éxito de la operación en la que ha intervenido. Se calcula generalmente aplicando un porcentaje sobre el Valor Total de la Transacción.</dd>
      </p>
      <p>
          <dt>Valoración:</dt>
          <dd>La valoración de una empresa es una estimación de su valor de mercado, basada en un análisis de sus estados financieros históricos y previstos, así como una comparación con empresas similares que cotizan en bolsa o ha sido recientemente adquiridas.</dd>
      </p>
  </dl>
</article>
<div style="height:100px"></div>
