@page "/Articulos/why-deals-fails"

<style>
    #page {
        background-color: #ccc;
    }
</style>

<article class="container texto-cajas p-top no-header text-justified">
  <h1 class="text-center">
      10 EQUIVOCACIONES EN LA COMPRAVENTA DE EMPRESAS
  </h1>
  <p>
      Durante mis más de 30 años de trabajo como asesor en fusiones y adquisiciones las razones más frecuentes por las que fracasan las operaciones de compraventa – y las maneras de evitarlas – son las siguientes:
  </p>
  <ol>
<li>
      <strong>
          Defectos Descubiertos Durante la “Due Diligence”
      </strong>
      <p>
          Es esencial que la información entregada al comprador sea exacta y completa. No se puede ser económico con la verdad. Decir “No tenemos esa información” o “No sabemos cómo recopilar esa información” no es aceptable cuando hoy estamos sumergidos en una avalancha de información. Si apareciese un cambio negativo, es imperativo informar al comprador para tratar de encontrar una solución. Los compradores odian las sorpresas.
      </p>
  </li>
  <li>
      <strong>No vender activamente</strong>
      <p>No todos los compradores son iguales – por sus circunstancias particulares unos pueden hacer ofertas más atractivas que otros. Si se negocia con un solo comprador jamás sabrá si ha conseguido la mejor oferta. El vendedor siempre consigue la mejor oferta cuando se contacta simultáneamente a los compradores potenciales para organizar una subasta.</p>
  </li>
  <li>
      <strong>“Carta de Intenciones Inconcreta”</strong>
      <p>La Carta de Intenciones debe incluir todos los términos y condiciones acordados verbalmente. Estos acuerdos se deben redactar de forma clara, concisa y sin ambigüedades, evitando de esta forma los malentendidos que pudieran surgir cuando se negocie el contrato de compraventa.</p>
  </li>
  <li>
      <strong>Desacuerdo sobre el precio</strong>
      <p>Nunca hay que confundir los deseos con la realidad. Aunque la valoración de una empresa no es una ciencia exacta, existen una serie de metodologías que su asesor financiero utilizará para determinar cual es el rango razonable del valor de mercado de su empresa. De esta manera se podrá negociar el precio con argumentos sólidos.</p>
  </li>
  <li>
      <strong>Dilatar el Proceso</strong>
      <p>El tiempo es el enemigo de todas las operaciones. Cuanto más se alargue la operación, más probable es que surja un imprevisto negativo que impida que la operación se cierre. Además, ambas partes comenzarán a perder interés. Para evitar este problema es fundamental acordar (y cumplir) un calendario que especifique las fechas para la ejecución de las diferentes etapas del proceso.</p>
  </li>
  <li>
      <strong>Falta de financiación</strong>
      <p>El comprador frecuentemente requiere financiación externa (préstamos de bancos) para poder comprar la empresa. Si el comprador no tiene los recursos necesarios no podrá efectuar la compra. En el proceso de selección del comprador, el propietario debe verificar que el comprador que va a seleccionar ya tiene los fondos necesarios o el compromiso de financiación por parte de la banca.</p>
  </li>
  <li>
      <strong>Emociones</strong>
      <p>Vender una empresa es un evento muy emocional para el propietario. Durante el proceso puede ser difícil poner esas emociones a un lado y eso puede llevar a conflictos. Para evitar estos problemas es útil negociar a través de su asesor financiero para que haga de amortiguador con el comprador.</p>
  </li>
  <li>
      <strong>Extremismo</strong>
      <p>Posturas extremistas solo incitan a la parte contraria a hacer lo mismo y generan un clima negativo que dificulta o impide que se cierre la operación.</p>
  </li>
  <li>
      <strong>No tener abogado especialista</strong>
      <p>Es necesario utilizar un abogado especializado en fusiones y adquisiciones. Utilizar al abogado de “toda la vida” sería como ir a un matrimonialista cuando se tiene un problema penal.</p>
  </li>
  <li>
      <strong>No tener asesor financiero</strong>
      <p>El propietario es un experto en su negocio, pero solo vende su empresa una vez en su vida y no tiene la competencia, experiencia o tiempo para dedicarle al proceso de compraventa. Cuando a una persona le van a operar quiere que le opere un cirujano competente, cuando vuela en un avión quiere que el piloto tenga muchas horas de vuelo y cuando va a vender su empresa – su activo más importante – es fundamental estar asesorado por un especialista con muchos años de oficio.</p>
  </li>
  </ol>
  
</article>
<div class="col-md-12 contenedor-btn-print"><button type="button" class="btn-submit" onclick="imprimir()">Imprimir <i class="material-icons">print</i></button></div>
<div class="bottom-placeholder"></div>
