@page "/Articulos/faq"

<style>
    #page {
        background-color: #ccc;
    }
</style>

<article class="container texto-cajas p-top no-header text-justified">
  <h1 class="text-center">
      PREGUNTAS MÁS FRECUENTES
  </h1>
  <section>
      <h4>1. ¿Qué factores afectan al valor de mi empresa?</h4>
      <p>Aunque parezca una obviedad, una empresa vale lo que un comprador está dispuesto a pagar y un vendedor está dispuesto a aceptar. Aparte de las características específicas de cada empresa (rentabilidad, crecimiento, riesgo, etc.) el precio depende mucho del comprador, ya que no todos valoran a la empresa igualmente. Y finalmente, el estado de economía es un factor muy importante - no es lo mismo vender una empresa en 2009 que en el 2019.
</p><p>
Los métodos de valoración son cuantitativos y dan la impresión de exactitud matemática, pero todos contienen un cierto nivel de subjetividad. No existe un solo método “correcto” o “mejor”. La valoración de una empresa es una mezcla de arte y ciencia. Por eso no es posible simplemente rellenar los huecos del modelo seleccionado para obtener la valoración.</p>
  </section>
  <section>
      <h4>2. ¿Cuál es el mejor momento para vender mi empresa?</h4>
      <p>El mejor momento para vender una empresa es cuando no hay necesidad de vender y la empresa va bien. Una venta forzada por problemas de la empresa no conseguirá el mejor precio. Lo ideal es vender una empresa cuando está funcionando a la perfección y los mercados están en un momento de exuberancia irracional.</p>
  </section>
  <section>
      <h4>3. ¿Qué preparativos se pueden adoptar para maximizar el valor de mi empresa?</h4>
      <p>Adopte todo tipo de medidas que resalten el atractivo de su empresa. Por ejemplo, eliminar todo tipo de contingencias, segregar todos los activos no afectos a la venta, tener un equipo profesional in situ, preparar toda la información que será requerida durante la fase de “Due Diligence”, ajustar los estados financieros para que reflejen la realidad financiera de la empresa.</p>
  </section>
  <section>
      <h4>4. ¿Como se mantiene la confidencialidad de la venta?</h4>
      <p>La violación de la confidencialidad perjudica a la empresa al generar incertidumbre entre los empleados, proveedores, clientes y bancos. La confidencialidad se consigue adhiriéndose a un riguroso proceso de selección de compradores y entregando solo aquella información necesaria para avanzar al siguiente nivel una vez que hayan firmado un Acuerdo de Confidencialidad.</p>
  </section>
  <section>
      <h4>5. ¿Cuánto tiempo se tarda en vender mi empresa?</h4>
      <p>El proceso de vender una empresa dura entre 6 y 12 meses. Hay pasos que se pueden tomar en paralelo para avanzar el proceso, pero también hay pasos que solo se pueden tomar de una manera secuencial (por ejemplo, el contrato de compraventa solo se puede empezar a negociar una vez finalizado el “due diligence”). Naturalmente, la rapidez con la que el vendedor es capaz de suministrar la información requerida, el número de compradores interesados y, la flexibilidad de las agendas del comprador y vendedor influyen sobre la duración del proceso. Y muchas de estas cosas están fuera del control del vendedor.</p>
  </section>
</article>
<div style="height:100px"></div>
