@page "/Articulos/necesita-un-asesor-para-vender-su-empresa"

<style>
    #page {
        background-color: #ccc;
    }
</style>

<article class="container texto-cajas p-top no-header text-justified">
  <h1 class="text-center">
      ¿NECESITA UN ASESOR PARA VENDER SU EMPRESA?
  </h1>

  <h4>1. ¿Sabe preparar a su empresa para la venta?</h4>
  <p>
      Frecuentemente las empresas se venden tal cual sin ningún tipo de preparativo. Sin embargo, con un poco de preparación el valor de la empresa podría aumentarse considerablemente.
  </p>

  <h4>
      2. ¿Sabe lo que vale su empresa?
  </h4>
  <p>
      Frecuentemente el valor atribuido no está correctamente fundamentado. El resultado puede ser que o malvendan su empresa, o no lleguen a venderla. El valor de una empresa depende de su rentabilidad futura. No importa que beneficios ha generado en el pasado, sino los que pueda generar en el futuro
  </p>

  <h4>
      3. ¿Conoce a muchos compradores potenciales?
  </h4>
  <p>
      Para conseguir el mejor precio posible es esencial identificar a todos los compradores potenciales. Éstos pueden ser compradores estratégicos de su propio sector, o empresas relacionadas con su sector como son clientes y proveedores, o empresas que no estando en su sector quieren entrar en él, o compradores extranjeros que quieren entrar en nuevos mercados, o inversores financieros.
  </p>

  <h4>
      4. ¿Tiene experiencia en vender una empresa?
  </h4>
  <p>
      Vender una empresa no es simplemente presentar los datos y dejar que el comprador decida. Un asesor experimentado tiene la capacidad de saber cuáles son los aspectos más atractivos de la empresa en venta, y suavizar los puntos más débiles para conseguir los mejores términos posibles. Como dijo el famoso joyero Oppenheim, "vender una perla que tienes a alguien que quiere comprarla, no es vender; vender una perla que no tienes, a alguien que no quiere comprarla, eso sí que es vender".
  </p>

  <h4>
      5. ¿Tiene suficiente tiempo para poder dirigir su empresa y simultáneamente gestionar el proceso de compraventa?
  </h4>
    <p>
        Vender una empresa no es como vender un piso. El proceso de compraventa suele durar entre seis y doce meses. Conseguir el máximo precio por su empresa requiere una dedicación total. En la mayoría de los casos el propietario que intenta dirigir y vender su empresa al mismo tiempo acaba sacrificando algo. Inevitablemente es el precio de venta.
    </p>
    <h4>
        6. ¿Sabe elaborar todos los documentos necesarios?
    </h4>
    <p>
        Los siguientes son los documentos principales que han de ser elaborados de una manera rigurosa: el “Perfil Ciego”, el “Acuerdo de Confidencialidad”, el “Cuaderno de Venta", el “Memorándum de Intenciones”, el “Contrato de Compraventa” y otros documentos reguladores. Además, durante el proceso de “Due Diligence” habrá que coordinar las actividades de los auditores, tasadores, abogados y fiscalistas de ambas partes para asegurarse de que cada uno hace lo que tiene que hacer, y cuando lo tiene que hacer.
    </p>

    <h4>
        7. ¿Es importante mantener la confidencialidad?
    </h4>
    <p>
        Generalmente el propietario prefiere que el hecho de que haya puesto en venta a su empresa no sea “vox populi”. Los empleados y clientes se ponen nerviosos, y ante la incertidumbre frecuentemente buscan otras alternativas. Los acreedores y bancos suelen ser más cautos y menos generosos cuando perciben cambios en el horizonte. Esto claramente perjudica a la empresa.
    </p>
    <p>
        Un asesor puede, sin embargo, entrar en contacto confidencialmente con, e iniciar un diálogo con, numerosos compradores potenciales para determinar si tienen un interés serio en comprar (o solo quieren recopilar información sobre un competidor), y si tienen los recursos suficientes para poder hacer esta adquisición.
    </p>

    <h4>
        8. Conclusión
    </h4>
    <p>
        Para el propietario, su empresa suele ser el activo más valioso que posee, y su venta solo ocurre una vez en su vida. Por lo tanto, es cada vez más común que los propietarios atiendan al antiguo refrán de “zapatero a tus zapatos” y se asesoren por un profesional experimentado.
    </p>


</article>
<div style="height:100px"></div>
