@page "/Articulos/10-mandamientos"

<style>
    #page {
        background-color: #ccc;
    }
</style>

<article class="container texto-cajas p-top no-header text-justified">
  <h1 class="text-center">
      LOS 10 MANDAMIENTOS PARA VENDER UNA EMPRESA CON ÉXITO
  </h1>
    <strong>1. No lo deje demasiado tarde</strong>
    <p>A veces oímos el lamento de “Vendí mi negocio demasiado pronto”. Pero es bastante más frecuente oír “Debí vender mi negocio hace tres años”. Venda su empresa cuando las cosas van bien – cuando no tenga necesidad de vender; no cuando hay problemas y tenga que vender.</p>
      
    <strong>2. Planifique su vida personal</strong>
    <p>Planifique como quiere disfrutar de su vida una vez que haya vendido su empresa. ¿A dónde quiere viajar? ¿Dónde quiere vivir? ¿Qué aficiones quiere practicar?</p>
      
    <strong>3. Prepare la empresa para la venta</strong>
    <p>El valor de una empresa se puede aumentar adoptando medidas antes de poner a la empresa en venta: Por ejemplo, una auditoria hecha por una empresa de reputación; reducir la concentración de clientes; seleccionar a un sucesor; redactar un Plan de Negocio.</p>
      
    <strong>4. Establezca un Calendario</strong>
    <p>Acordar un calendario que especifique las fechas para la ejecución de las diferentes etapas del proceso. Cuanto más se alargue la operación, más probable es que surja un imprevisto negativo que impida que la operación se cierre. El tiempo es el enemigo de todas las operaciones.</p>
      
    <strong>5. Contrate los servicios de un especialista en fusiones y adquisiciones</strong>
    <p>Generalmente el propietario sólo vende su empresa una vez en su vida, y no tiene experiencia en el proceso de venta. Un asesor le ayudará a valorar la empresa, identificar a compradores, maximizar el precio, elaborar la documentación necesaria, minimizar garantías, negociar con compradores y mantener la confidencialidad.</p>
      
    <strong>6. Consiga múltiples ofertas por su empresa</strong>
    <p>– El mejor precio siempre se consigue cuando la empresa es ofertada al universo de todos los compradores potenciales. Esto se hace de una manera confidencial.</p>
      
    <strong>7. Contrate los servicios de un abogado y un fiscalista especializados en fusiones y adquisiciones</strong>
    <p>El abogado y contable “de siempre” no tienen la experiencia especializada requerida.</p>
      
    <strong>8. Sea razonable en sus expectativas de precio y condiciones</strong>
    <p>Existe un rango de valoraciones para empresas que comparten un perfil similar. El objetivo de un buen asesor es demostrarle al comprador porque el precio alto del rango es un precio razonable.</p>
      
    <strong>9. Revele toda la información relevante desde el principio</strong>
    <p>La divulgación de un dato negativo de poca aparente importancia al comienzo de las negociaciones es un inconveniente que suele tener fácil arreglo. La divulgación de ese mismo dato en la mitad de las negociaciones, o peor aún durante el “due diligence” puede ser un detonante para revisar el precio ofrecido o incluso acabar con la operación.</p>
      
    <strong>10. Sea flexible y creativo</strong>
    <p>Todo es negociable. Es importante mantener la mente abierta y considerar todas las propuestas y contrapropuestas.</p>
      
    <strong>11. Conclusión</strong>
    <p>Si ha considerado vender su empresa, véndala a propósito, no accidentalmente, desde una posición de fortaleza y consiga el precio más alto y las condiciones más ventajosas.</p>
      
</article>
<div class="col-md-12 contenedor-btn-print"><button type="button" class="btn-submit" onclick="imprimir()">Imprimir <i class="material-icons">print</i></button></div>
<div class="bottom-placeholder"></div>
