@page "/Articulos/valuation-truths"

<style>
    #page {
        background-color: #ccc;
    }
</style>

<article class="container texto-cajas p-top no-header text-justified">
  <h1 class="text-center">
      VERDADES Y MENTIRAS SOBRE VALORACIONES DE EMPRESAS
  </h1>
  <p>El valor de una empresa es muy subjetivo. Cada empresa es única y tiene cientos de variables que afectan a su valor. Nadie sabe exactamente lo que realmente vale una acción de Telefónica. O mejor dicho, existen muchas opiniones diferentes sobre cuál es su valor. El analista de un gran banco le da un valor y recomienda comprar, mientras que otro analista recomienda vender. Ambos analistas tienen acceso a la misma información sobre Telefónica, pero llegan a conclusiones diferentes sobre su valor.</p>
  <p>Las valoraciones de empresas nunca son objetivas por tres razones:</p>

  <ul>
      <li>Los modelos de valoración tienen muchas variables y pequeñas diferencias en las premisas iniciales pueden tener un impacto muy grande en el resultado final. Por esa razón nunca existe una sola valoración “correcta”.</li>
      <li>Los números dan una apariencia de control, un sentido de precisión y la impresión de objetividad. Pero una valoración jamás puede dar una estimación precisa del valor de una empresa porque la precisión es imposible. No es una ciencia exacta.</li>
      <li>Todas las valoraciones son sesgadas, la única cuestión es por cuanto y en que dirección. En la compraventa de empresas el propósito de una valoración nunca es buscar un valor imparcial, desinteresado y neutral, sino apoyar una tesis partidista. El comprador tiene que decidir cuál es el máximo precio que estaría dispuesto a ofrecer, y el vendedor tiene que determinar cuál es el precio mínimo que está dispuesto a aceptar.</li>
  </ul>
  <p>
      Una empresa puede tener diferentes valores para diferentes analistas. La interpretación de los hechos es clave para determinar el valor de una empresa. Pero el hecho de que no exista un solo valor objetivo no significa que cualquier valoración es tan correcta como otra. Uno puede distinguir entre una valoración que puede ser correcta y aquellos que claramente son falsos.
  </p>
  <p>El valor de una empresa, implícitamente o explícitamente, tiene que estar conectada a la realidad por (a) los cash flows que genera, (b) el crecimiento previsto y (c) el riesgo de que no se cumplan las previsiones.</p>
  <p>No todos los compradores son iguales – Por sus circunstancias particulares unos pueden hacer ofertas más atractivas que otros por economías de escala, economías de complementariedad, distintas percepciones sobre el sector y la empresa. El futuro siempre es incierto, especialmente con los rápidos cambios que ahora están experimentando las economías. Cada comprador y vendedor tiene su propia bola de cristal.</p>
  <p>Al final, el mercado es el que tiene la última palabra sobre el valor de la empresa. El mercado no es lo que un comprador está dispuesto a pagar, sino lo que están dispuestos a pagar un número de compradores.</p>
  <p>Por eso, desde el punto de vista del vendedor, es esencial contactar con todos los compradores potenciales para organizar una subasta y conseguir el mejor precio existente en ese momento en el mercado.</p>
  <p>Una valoración es simplemente un instrumento para negociar sobre el precio de la venta de la empresa.</p>
</article>
<div class="col-md-12 contenedor-btn-print"><button type="button" class="btn-submit" onclick="imprimir()">Imprimir <i class="material-icons">print</i></button></div>
<div class="bottom-placeholder"></div>
