@page "/Apuntes"

<style>
    .item-apuntes {
        cursor: pointer
    }

    .item-apuntes:hover a {
        color: red !important;
    }
</style>


<BootstrapHeroComponent BackgroundImage="bg-apuntes" CustomTitle="APUNTES"/>
<div class="container texto-cajas p-top">
    <div class="row p-top p-bottom">
       <div class="col-md-12">
           <h4 class="item-apuntes"><a href="#" data-target="#modal-apuntes" data-toggle="modal">

           </a></h4>
           <h4 class="item-apuntes"><a href="#" data-target="#modal-apuntes" data-toggle="modal">
           ¿NECESITA UN ASESOR PARA VENDER SU EMPRESA?  
           </a></h4>
           <h4 class="item-apuntes"><a href="#" data-target="#modal-apuntes" data-toggle="modal">
            VERDADES Y MENTIRAS SOBRE VALORACIONES DE EMPRESAS
           </a></h4>
           <h4 class="item-apuntes"><a href="#" data-target="#modal-apuntes" data-toggle="modal">
¿CUANTO VALE MI EMPRESA?
           </a></h4>
           <h4 class="item-apuntes"><a href="#" data-target="#modal-apuntes" data-toggle="modal">
10 EQUIVOCACIONES EN LA COMPRAVENTA DE EMPRESAS
           </a></h4>
           <h4 class="item-apuntes"><a href="#" data-target="#modal-apuntes" data-toggle="modal">
COMO MAXIMIZAR EL PRECIO DE VENTA DE SU EMPRESA
           </a></h4>
           <h4 class="item-apuntes"><a href="#" data-target="#modal-apuntes" data-toggle="modal">
LOS 10 MANDAMIENTOS PARA VENDER UNA EMPRESA CON ÉXITO
           </a></h4>
           <h4 class="item-apuntes"><a href="#" data-target="#modal-apuntes" data-toggle="modal">
EL TAMAÑO DE LA EMPRESA SI IMPORTA
           </a></h4>
           <h4 class="item-apuntes"><a href="#" data-target="#modal-apuntes" data-toggle="modal">
REFLEXIONES SOBRE EL PROCESO DE VENTA DE UNA EMPRESA
           </a></h4>
           <h4 class="item-apuntes"><a href="#" data-target="#modal-apuntes" data-toggle="modal">
VALORACIÓN POR EL MÚLTIPLO DE EBITDA
           </a></h4>
           <h4 class="item-apuntes"><a href="#" data-target="#modal-apuntes" data-toggle="modal">
EL PROCESO DE VENTA DE UNA EMPRESA

           </a></h4>
       </div>
    </div>
</div>
<div style="height:100px"></div>

<!-- Modal -->
<div class="modal fade" id="modal-apuntes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      @* <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div> *@
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, hic, eveniet consequuntur ea laudantium debitis, cum quasi quam illum excepturi ducimus facilis. Odit illum accusantium possimus eligendi porro maiores provident! <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, hic, eveniet consequuntur ea laudantium debitis, cum quasi quam illum excepturi ducimus facilis. Odit illum accusantium possimus eligendi porro maiores provident! <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, hic, eveniet consequuntur ea laudantium debitis, cum quasi quam illum excepturi ducimus facilis. Odit illum accusantium possimus eligendi porro maiores provident! <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, hic, eveniet consequuntur ea laudantium debitis, cum quasi quam illum excepturi ducimus facilis. Odit illum accusantium possimus eligendi porro maiores provident! <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, hic, eveniet consequuntur ea laudantium debitis, cum quasi quam illum excepturi ducimus facilis. Odit illum accusantium possimus eligendi porro maiores provident!
      </div>
      @* <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> *@
    </div>
  </div>
</div>

