@page "/Articulos"

<style>
  .item-apuntes {
    cursor: pointer;
    text-transform: inherit !important;
    font-size: 24px;
    font-weight: 700;
  }

  .item-apuntes:hover a {
    color: red !important;
  }

  .contenedor-items-apuntes {
    display: flex;
    justify-content: center;
  }
</style>


<BootstrapHeroComponent BackgroundImage="bg-apuntes" CustomTitle="ARTÍCULOS" />
<div class="container texto-cajas p-top">
  <div class="contenedor-items-apuntes">
    <table>
      <tr>
        <td class="item-apuntes">
          <li>
            <a href="/Articulos/necesita-un-asesor-para-vender-su-empresa">
              ¿Necesita un asesor para vender su empresa?
            </a>
          </li>
        </td>
      </tr>
      <tr>
        <td class="item-apuntes">
          <li>
            <a href="/Articulos/calendario-de-actividad">
              Calendario del proceso de una compraventa
            </a>
          </li>
        </td>
      </tr>
      <tr>
        <td class="item-apuntes">
          <li>
            <a href="/Articulos/definiciones-financieras">
              Definiciones financieras
            </a>
          </li>
        </td>
      </tr>
      <tr>
        <td class="item-apuntes">
          <li>
            <a href="/Articulos/valuation-truths">
              Verdades y mentiras sobre valoraciones de empresas
            </a>
          </li>
        </td>
      </tr>
      @* <tr>
        <td class="item-apuntes">
          <li>
            <a href="#">
              ¿Cuánto vale mi empresa?
            </a>
          </li>
        </td>
      </tr> *@
      <tr>
        <td class="item-apuntes">
          <li>
            <a href="/Articulos/why-deals-fails">
              10 Equivocaciones en la compraventa de empresas
            </a>
          </li>
        </td>
      </tr>
      <tr>
        <td class="item-apuntes">
          <li>
            <a href="/Articulos/reflexiones-sobre-el-proceso-de-venta">
              Como maximizar el precio de venta de su empresa
            </a>
          </li>
        </td>
      </tr>
      <tr>
        <td class="item-apuntes">
          <li>
            <a href="/Articulos/10-mandamientos">
              Los 10 mandamientos para vender una empresa con éxito
            </a>
          </li>
        </td>
      </tr>
      @* <tr>
        <td class="item-apuntes">
          <li>
            <a href="#">
              El tamaño de la empresa sí importa
            </a>
          </li>
        </td>
      </tr> *@
      @* <tr>
        <td class="item-apuntes">
          <li>
            <a href="#">
              Reflexiones sobre el proceso de venta de una empresa
            </a>
          </li>
        </td>
      </tr> *@
      <tr>
        <td class="item-apuntes">
          <li>
            <a href="/Articulos/Ebitda">
              Valoración por el múltiplo de EBITDA
            </a>
          </li>
        </td>
      </tr>
      <tr>
        <td class="item-apuntes">
          <li>
            <a href="/Articulos/proceso-de-compraventa-de-una-empresa">
              El proceso de venta de una empresa
            </a>
          </li>
        </td>
      </tr>
      <tr>
        <td class="item-apuntes">
          <li>
            <a href="/Articulos/faq">
              Preguntas más frecuentes
            </a>
          </li>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="bottom-placeholder"></div>