@inject IJSRuntime jsRuntime;

<section id="qbootstrap-hero" style="background-image: url('@FullBgImage'); height:@height; background-position: @BgPos">
    <div class="flexslider">
        <ul class="slides">
            @if (CustomTitle == null) {
                <li>
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 text-center slider-text">
                                <div class="slider-text-inner">
                                    <h1>
                                        <strong>FENCHURCH</strong><br>
                                    </h1>
                                    <h3>
                                        Exclusivamente Fusiones y Adquisiciones
                                    </h3>
                                    <br>
                                    <h3>
                                        Especializado en asesorar a empresa medianas
                                    </h3>
                                    <br>
                                    <h3>
                                        Más de 30 años de experiencia práctica
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                @* <li>
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center slider-text">
                                <div class="slider-text-inner">
                                    <h1>
                                        <strong>FENCHURCH</strong><br>
                                    </h1>
                                    <h3>
                                        Más de 30 Años de Experiencia
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center slider-text">
                                <div class="slider-text-inner">
                                    <h1>
                                        <strong>FENCHURCH</strong><br>
                                    </h1>
                                    <h3>
                                        Exclusivamente Especializada en Asesorar a Empresas Medianas
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </li> *@
            } else {
              <li>
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center slider-text">
                                <div class="slider-text-inner">
                                    <h1>
                                        <strong>@CustomTitle</strong><br>
                                    </h1>
                                    @if (CustomSubtitle != null) {
                                        @foreach(var txt in @CustomSubtitle.Split("\n")) {
                                            <h3>
                                                @txt
                                            </h3>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </li>  
            }
        </ul>
    </div>
</section>

@code {
    [Parameter]
    public string BackgroundImage { get; set; }
    [Parameter]
    public string CustomTitle { get; set; }
    [Parameter]
    public string CustomSubtitle { get; set; }

    [Parameter]
    public string BgPos { get; set; }
    public string FullBgImage { get; set; }
    private string defaultBackgroundImage = "header-bg";

    private string height = "600px";

    protected override void OnInitialized() {
        if (CustomTitle == null) {
            height = "100vh";
        }

        if (BgPos == null) {
            BgPos = "center";
        }

        BackgroundImage = BackgroundImage ?? defaultBackgroundImage;
        FullBgImage = "../img/"+BackgroundImage+".jpg";

    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await jsRuntime.InvokeVoidAsync("sliderMain");
    }
    

}