@page "/Contacto"

<style>
    .form-group {
        display: flex;
        justify-content: space-around !important;
    }

    label {
        display: flex;
        align-items: center !important;
        color: #152238 !important;
        font-weight: 400;
    }

    .form-control {
        box-shadow: none;
        background: #f7f7f7;
        border: none;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
    }
</style>

<BootstrapHeroComponent BgPos="top" BackgroundImage="bg-contacto" CustomTitle="CONTACTO" CustomSubtitle="Siempre estamos disponibles para explorar, de forma confidencial y sin compromiso, la posibilidad de vender su empresa o hacer una adquisición" />
<div class="container texto-cajas p-top">
    <div class="row p-top p-bottom">
        <div class="col-md-12 text-center">
           <h1 style="padding:0" class="text-center">Contáctenos</h1>

        </div>
        <div class="col-md-6 text-right">
           <h1 style="color:#152238;padding: 0">
               Teléfono
           </h1>
           <a href="tel:+34911406498">(+34) 911 406 498</a>
           <br>
           <br>
          
           <br>
           <br>
           @* <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.8656479227366!2d-3.686322184643678!3d40.43397377936311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228eacb73e1d7%3A0xb9ddb38ae1ef2fe4!2sFenchurch!5e0!3m2!1ses-419!2scl!4v1589847221112!5m2!1ses-419!2scl" width="auto" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> *@
       </div>
       <div class="col-md-6">
            <h1 style="color:#152238;padding: 0">
               Dirección
           </h1>
           <a href="https://goo.gl/maps/mMHQR2kiccRKC4KV9" target="_blank">
               Maldonado, 13<br>28006 - Madrid<br>Spain
           </a>
       </div>
       <div class="col-md-12">
           <hr>
       </div>
         <div class="col-md-6 col-md-offset-3">
           @* <div class="row">
               <div class="col-md-8 col-md-offset-4">
                    <h1>Mensaje</h1>
                    <br>
               </div>
           </div> *@

           <form action="" id="contacto">
               <div class="form-group row">
                   <label class="col-md-4" for="nombre">Nombre</label>
                   <input type="text" class="form-control col-md-8" name="nombre" id="nombre">
               </div>
               <div class="form-group row">
                   <label class="col-md-4" for="apellido">Apellido</label>
                   <input type="text" class="form-control col-md-8" name="apellido" id="apellido">
               </div>
               <div class="form-group row">
                   <label class="col-md-4" for="empresa">Empresa</label>
                   <input type="text" class="form-control col-md-8" name="empresa" id="empresa">
               </div>
               <div class="form-group row">
                   <label class="col-md-4" for="telefono">Teléfono</label>
                   <input type="text" class="form-control col-md-8" name="telefono" id="telefono">
               </div>
               <div class="form-group row">
                   <label class="col-md-4" for="email">Email</label>
                   <input type="email" class="form-control col-md-8" name="email" id="email">
               </div>
               <div class="form-group row">
                   <label for="mensaje" class="col-md-4">Mensaje</label>
                   <textarea name="mensaje" id="mensaje" rows="2" class="form-control col-md-8" ></textarea>
               </div>
               <div class="row">
                   <br>
                    <div class="text-center col-md-8 col-md-offset-4">
                       <button type="button" class="btn-submit" onclick="enviarFrmContacto()">ENVIAR</button>
                   </div>
               </div>

           </form>
       </div>
       
      
    </div>
</div>
<div style="height:100px"></div>


