@page "/Curriculum"

<BootstrapHeroComponent BackgroundImage="delta-nilo" CustomTitle="CURRICULUM" />
<style>
    h5 {
        margin-bottom: 5px !important;
    }
</style>
<div class="row p-top p-bottom">
    <div class="col-md-4">
        <img src="https://via.placeholder.com/450x600" class="image-responsive">
    </div>
    <div class="col-md-8">
        <h2>
            ANTHONY J. PAGET
        </h2>

        <h4>
            EXPERIENCIA PROFESIONAL
        </h4> 
        @* <hr> *@

        <h5>
            <strong>
                FENCHURCH, S.L. - Madrid
            </strong>
        </h5>
        <h6>
            Socio Fundador - Fusiones y Adquisiciones
        </h6>

        <h5>
            <strong>
                DREXEL BURNHAM LAMBERT SECURITIES LIMITED, Londres / Madrid
            </strong>
        </h5>
        <h6>
            Director General - Renta Fija Interancional
        </h6>

        <h5>
            <strong>
                DEAN WITTER CAPITAL MARKETS INTERNATIONAL LIMITED  - Londres
            </strong>
        </h5>
        <h6>
            Vice Presidente - Renta Fija Internacional
        </h6>

        <h5>
            <strong>
                BANK OF AMERICA, NT & SA - Nueva York / Caracas
            </strong>
        </h5>
        <h6>
            Vice Presidente - Banca de Inversión en Latino-América
        </h6>

        <h5>
            <strong>
                MANUFACTURERS HANOVER TRUST. - Nueva York
            </strong>
        </h5>
        <h6>
            Asistente Vice Presidente - Banca Comercial - Brasil
        </h6>

        <h5>
            <strong>
                GOLDMAN SACHS & CO - Nueva York
            </strong>
        </h5>
        <h6>
            Analista - Fusiones y Adquisiciones
        </h6>


        <h4>
            FORMACIÓN
        </h4> 
        @* <hr> *@

        <h5>
            <strong>
                NEW YORK UNIVERSITY STERN SCHOOL OF BUSINESS - Nueva York
            </strong>
        </h5>
        <h6>
            MBA  en Finanzas Internacionales
        </h6>

        <h5>
            <strong>
                UNIVERSITY OF LONDON: KINGS COLLEGE / LONDON SCHOOL OF ECONOMICS, Londres
            </strong>
        </h5>
        <h6>
            B.A. Honours Geografía Económica
        </h6>

        <h4>
            IDIOMAS
        </h4>
        @* <hr> *@
        <h6>
            Bilingue en castellano e inglés. Buenos conocimientos de francés, portugués e italiano
        </h6>
    </div>
</div>
<div style="height:100px"></div>

