@page "/Fenchurch"

<BootstrapHeroComponent BackgroundImage="bg-velero" CustomTitle="Nuestra Misión" CustomSubtitle="Nuestro objetivo es conseguir una solución a medida de las necesidades de nuestro cliente basada en nuestra experiencia en fusiones y adquisiciones"/>

<section class="container p-top p-bottom" id="fenchurch">
    <div class="row">
        <div class="col-md-4">
            <div class="m-xl">
                <h4 class="text-center">
                    <strong>CLIENTES</strong>
                </h4>
                <h4 class="texe-center">
                                        Fenchurch se especializa en asesorar a empresas
                    medianas que quieren ser compradas. Estas empresas
                    generalmente tiene una facturación de entre €15 millones
                    y €300 millones
                </h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-xl">
                <h4 class="text-center">
                    <strong>FUSIONES & ADQUISICIONES</strong>
                </h4>
                <h4 class="text-justified">
                    Estas empresas generalmente tiene una facturación de entre €15 millones y €300
                    millones.
                </h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="m-xl">
                <h4>
                    <strong>NUESTRO ENFOQUE</strong>
                </h4>
                <h4>Cada fase del proceso de nuestras operaciones están 
ejecutadas por un profesional con una extensa experiencia práctica.</h4>
            </div>
        </div>



    </div>
</section>
