@page "/Operaciones"

<style>
    table.tabla-operaciones tr td {
        padding: 10px;
    }

    table.tabla-operaciones tr td:first-of-type {
        text-align: right;
        color: #152238;
    }

    table.tabla-operaciones tr td:last-of-type {
        text-align: left;
    }

    .contenedor-operaciones {
        display: flex;
        justify-content: center;
    }
    tr td:first-of-type {
        font-weight: bolder;
    }
</style>

<BootstrapHeroComponent BackgroundImage="isla-pascua" CustomTitle="OPERACIONES"
    CustomSubtitle=" Los clientes de Fenchurch han incluido un amplio espectro de la economía, tanto nacionales como extranjeros, estratégicos y financieros." />

<div class="row p-top p-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 contenedor-operaciones">
                <table class="tabla-operaciones">
                    <tbody>
                        <tr>
                            <td>ARTE HISPÁNICO</td>
                            <td>Fabricante de Muebles de Madera</td>
                        </tr>
                        <tr>
                            <td>BLINKER</td>
                            <td>Distribuidor de Productos de Fijación</td>
                        </tr>
                        <tr>
                            <td>PINMAR</td>
                            <td>Pintado y Mantenimiento de Yates</td>
                        </tr>
                        <tr>
                            <td>KOIPE</td>
                            <td>Fabricante de Aceites Vegetales</td>
                        </tr>
                        <tr>
                            <td>COMPUTER CENTER DOS</td>
                            <td>Distribuidor de Informática</td>
                        </tr>
                        <tr>
                            <td>TELEPIZZA</td>
                            <td>Comida Rápida</td>
                        </tr>
                        <tr>
                            <td>HALCÓN FOODS</td>
                            <td>Conservera de Frutas y Verduras</td>
                        </tr>
                        <tr>
                            <td>FRIO INDUSTRIAL CEÑO</td>
                            <td>Vegetales Congelados</td>
                        </tr>
                        <tr>
                            <td>DANISCO</td>
                            <td>Vegetales Congelados</td>
                        </tr>
                        <tr>
                            <td>DELMODIS</td>
                            <td>Cadena de Supermercados</td>
                        </tr>
                        <tr>
                            <td>LA CASERA</td>
                            <td>Fabricante de Bebidas Refrescantes</td>
                        </tr>
                        <tr>
                            <td>COSMHOGAR</td>
                            <td>Fabricante de Productos de Limpieza y Cosmética</td>
                        </tr>
                        <tr>
                            <td>GRUPO ALVIC</td>
                            <td>Fabricante de Muebles de Cocina</td>
                        </tr>
                        <tr>
                            <td>MECÁNICA DEL CENTRO</td>
                            <td>Fabricante de Equipos para Acerías</td>
                        </tr>
                        <tr>
                            <td>SUPERDIPLO</td>
                            <td>Cadena de Supermercados</td>
                        </tr>
                        <tr>
                            <td>INDUSTRIAS ALGA</td>
                            <td>Fabricante de Componentes de Automoción</td>
                        </tr>
                        <tr>
                            <td>MERCAPITAL</td>
                            <td>Capital Riesgo</td>
                        </tr>
                        <tr>
                            <td>VISTA CAPITAL</td>
                            <td>Capital Riesgo</td>
                        </tr>
                        <tr>
                            <td>BANCAMERICA EQUITY PARTNERS</td>
                            <td>Capital Riesgo</td>
                        </tr>
                        <tr>
                            <td>CASH GRANADA</td>
                            <td>Distribuidor de Productos de Limpieza y Droguería</td>
                        </tr>
                        <tr>
                            <td>COFEBA</td>
                            <td>Distribuidor de Bebidas</td>
                        </tr>
                        <tr>
                            <td>LINPAC</td>
                            <td>Embalaje de Cartón</td>
                        </tr>
                        <tr>
                            <td>DOMINGO PASCUAL CARBÓ</td>
                            <td>Embalaje de Plástico</td>
                        </tr>
                        <tr>
                            <td>MOVINOR</td>
                            <td>Material de Construcción de Construcción</td>
                        </tr>
                        <tr>
                            <td>RUGBY GROUP</td>
                            <td>Fabricante de Materiales de Construcción</td>
                        </tr>
                        <tr>
                            <td>SECURIGUARD</td>
                            <td>Proveedor de Servicios de Seguridad</td>
                        </tr>
                        <tr>
                            <td>URALITA</td>
                            <td>Fabricante de Materiales de Construcción</td>
                        </tr>
                        <tr>
                            <td>BILORE</td>
                            <td>Fabricante de productos de Limpieza</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
<div style="height:100px"></div>