@page "/VentaEmpresas"

<BootstrapHeroComponent  CustomTitle="LA VENTA DE EMPRESAS" CustomSubtitle="Nuestro objetivo en cada encargo de venta es preparar a nuestro cliente para el rigor de un proceso disciplinado para conseguir el resultado óptimo. Fenchurch aporta décadas de experiencia a sus clientes para guiarles a través de cada fase del proceso." />
<div class="container texto-cajas p-top">
    <div class="row p-top p-bottom">
        <div class="col-md-6">
            <h4>
                PREPARACIÓN
            </h4>
            <p>
                Comprender los objetivos de nuestro cliente - personales, financieros, el timing, expectativas de valoración - para asegurar que el proceso está listo para ser ejecutado. Preparar la documentación de marketing a medida para la situación y compradores específicos.
            </p>
            <br>
        </div>
        <div class="col-md-6">
            <h4>MARKETING</h4>
            <p>
                Identificar y contactar con los compradores estratégicos y financieros, tanto nacionales como extranjeros, manteniendo la confidencialidad del proceso. Transmitir con claridad y concisión las razones por las que la empresa de nuestro cliente encaja a la perfección con con los criterios de adquisición de cada comprador.
            </p>
            <br>
        </div>
        <div class="col-md-6">
            <h4>DUE DILIGENCE</h4>
            <p>
                Gestionar todos los aspectos del Due Diligence para minimizarlas distracciones, permitiendo que el empresario se pueda concentrar en dirigir la empresa.
            </p>
            <br>
        </div>
        <div class="col-md-6">
            <h4>
                NEGOCIACIONES & CIERRE
            </h4>
            <p>Recibir las ofertas y negociar el mejor valor y condiciones de la operación para satisfacer los objetivos de nuestro cliente.</p><br>
        </div>
    </div>
</div>
<div style="height:100px"></div>

